@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ANIMATIONS --- */
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-enter {
  animation: enter 0.4s ease-out forwards;
}

@media print {
  body {
    background: white;
  }
  aside, header, button {
    display: none !important; /* Hide Sidebar, Header, Buttons */
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
  }
  /* Ensure the report container is visible */
  .print\:block {
    display: block !important;
  }
  .print\:hidden {
    display: none !important;
  }
}